<html>
<head>
  <title>App</title>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="app.css">
</head>

<body>

  <script type="text/javascript">
    require('app');
  </script>

</body>
</html>
