[submodule "app/submodules/ember.js"]
	path = app/submodules/ember.js
	url = git@github.com:emberjs/ember.js.git
[submodule "app/submodules/ember-jj-abrams-resolver"]
	path = app/submodules/ember-jj-abrams-resolver
	url = git@github.com:stefanpenner/ember-jj-abrams-resolver.git
[submodule "app/submodules/ember-qunit"]
	path = app/submodules/ember-qunit
	url = git@github.com:ppcano/ember-qunit.git
